* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 14vw 1fr ;
    grid-template-rows: 15vh 1fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: #ef4444;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header{
    display: grid;
    grid-template-columns: 55vw 1fr;
    background: #fee2e2;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 14vw;
    background: #f87171;
}